/**
 * RESET ======================================================================
 */

html {
    color: #000;
    background: #fff;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset,
img {
    border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var,
optgroup {
    font-style: inherit;
    font-weight: inherit;
}

del,
ins {
    text-decoration: none;
}

li {
    list-style: none;
}

caption, th {
    text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: bold;
}

q:before,
q:after {
    content: '';
}

abbr,
acronym {
    font-variant: normal;
    border: 0;
}

sup {
    vertical-align: baseline;
}

sub {
    vertical-align: baseline;
}

legend {
    color: #678;
}

input,
button,
textarea,
select,
optgroup,
option {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

a,
button,
input[type="submit"],
input[type="button"] {
    cursor: pointer;
}

:focus {
    outline: 0 none;
}

/**
 * GLOBAL ====================================================================
 */

html {
    background-color: #eee;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ffffff));
    background-image: -webkit-linear-gradient(top, #eee, #ffffff);
    background-image:    -moz-linear-gradient(top, #eee, #ffffff);
    background-image:     -ms-linear-gradient(top, #eee, #ffffff);
    background-image:      -o-linear-gradient(top, #eee, #ffffff);
    background-image:         linear-gradient(top, #eee, #ffffff);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#eeeeee', EndColorStr='#ffffff');
    background-attachment: fixed;
    height: 100%;
}

body {
    color: #ccc;
    font-family: sans-serif; /* Helvetica for Macs, Arial for PCs */
    font-size: 16px;
}

h1 {
    font-family: "Oswald", sans-serif;
    font-size: 64px;
    font-weight: normal;
    letter-spacing: -3px;
    text-transform: uppercase ;
    margin: 0 0 0px 0;
    text-shadow: 1px 1px 1px #fff;
}

h1 a:link,
h1 a:visited {
    color: #aaa;
}

h1 a:hover,
h1 a:active {
    color: #333;
}

h2 {
    font-size: 28px;
    font-weight: bold;
    line-height: 1.1;
}

a:link,
a:visited {
    color: #ccc;
}

a:hover,
a:active {
    color: #666;
}

h1 a,
.thumbnails a {
    text-decoration: none;
}

.wrapper {
    width: 900px;
    margin: 0 auto;
    padding: 0;
}

.content {
    margin-bottom: 60px;
    overflow: hidden;
}

.primary_col {
    width: 900px;
}

.more {
    margin-top: 16px;
    font-size: 14px;
}

.clear {
    display: block;
    height: 0;
    font-size: 0;
    clear: both;
}

/**
 * HEADER ====================================================================
 */

#main_header {
    margin: 0 auto;
    padding: 50px 0;
    width: 740px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

#main_header:hover {
    color: #aaa;
}

#main_header h1 a {
    -webkit-transition: color 0.25s;
    -moz-transition:    color 0.25s;
    transition:         color 0.25s;
}

#main_header:hover h1 a {
    color: #666 !important;
}

#main_header:hover h1 a:hover {
    color: #333 !important;
}

#description,
.description p {
    font-size: 16px;
    line-height: 1.2;
}

/**
 * SEARCH ====================================================================
 */

#search_form {
    float: right;
    margin-bottom: 40px;
    position: relative;
}

#search_field {
    border: 1px solid #ccc;
    color: #aaa;
    display: block;
    margin: 0 auto;
    padding: 4px 6px;
    width: 300px;
    -moz-border-radius:     2px;
    -webkit-border-radius:  2px;
    border-radius:          2px;
}

#search_form .focused {
    color: #333;
}

#search_form .loading {
    background-image: url('../images/throbber.gif');
    background-repeat: no-repeat;
    background-position: 292px center;
}

#search_form .submit_btn {
    display: none;
}

#no_results,
.ui-autocomplete {
    background: #fff;
    border: 1px solid #ccc;
    width: 300px;
    max-height: 278px;
    overflow-y: auto;
    overflow-x: hidden;
    -moz-border-radius:     2px;
    -webkit-border-radius:  2px;
    border-radius:          2px;
    z-index: 2 !important;
}

/* IE 6 doesn't support max-height */
* html .ui-autocomplete {
    height: 278px;
}

#no_results {
    display: none;
    padding: 10px 6px;
    color: #333;
    font-weight: bold;
    text-align: left;
    position: absolute;
    top: 27px;
    left: 0;
    z-index: 5;
}

.ui-autocomplete li {
    overflow: hidden;
}

.ui-autocomplete li a {
    display: block;
    padding: 7px;
    overflow: hidden;
}

.ui-autocomplete li img {
    margin-right: 10px;
    width: 100px;
    height: 75px;
    float: left;
}

.ui-autocomplete li b {
    color: #333;
    width: 170px;
    height: 75px;
    float: left;
}

#ui-active-menuitem {
    background-color: #eee;
}

/**
 * SOCIAL ICONS ==============================================================
 */

#social {
    margin: 0 auto;
    width: 740px;
    overflow: hidden;
    text-align: center;
}

#social li {
    background-color: #666;
    margin: 0 0 5px 5px;
    width: 36px;
    height: 36px;
    display: inline-block;

    -moz-border-radius:     36px;
    -webkit-border-radius:  36px;
    border-radius:          36px;
}

#social li,
#pagination a.next_btn,
#pagination a.prev_btn {
    filter: alpha(opacity=70) !important; /* IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)" !important; /* IE8 */
    -moz-opacity:       0.7;
    -webkit-opacity:    0.7;
    opacity:            0.7;

    -webkit-transition: opacity 0.25s;
    -moz-transition:    opacity 0.25s;
    transition:         opacity 0.25s;
}

#social li:hover,
#pagination a:hover.next_btn,
#pagination a:hover.prev_btn {
    filter: alpha(opacity=100) !important; /* IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)" !important; /* IE8 */
    -moz-opacity:       1;
    -webkit-opacity:    1;
    opacity:            1;
}

#social li a {
    background: transparent url('../images/sprite_social_icons.png?1') no-repeat;
    display: block;
    padding: 4px;
    width: 36px;
    height: 36px;
    text-indent: -9999px;
}

#social .aboutme a      { background-position: 5px  13px    ;}
#social .behance a      { background-position: 7px  -40px   ;}
#social .blogger a      { background-position: 8px  -93px   ;}
#social .deviantart a   { background-position: 4px  -141px  ;}
#social .digg a         { background-position: 6px  -190px  ;}
#social .dribbble a     { background-position: 6px  -245px  ;}
#social .email a        { background-position: 5px  -291px  ;}
#social .facebook a     { background-position: 10px -343px  ;}
#social .flavorsme a    { background-position: 7px  -393px  ;}
#social .flickr a       { background-position: 6px  -438px  ;}
#social .foursquare a   { background-position: 4px  -492px  ;}
#social .hi5 a          { background-position: 4px  -542px  ;}
#social .lastfm a       { background-position: 5px  -590px  ;}
#social .linkedin a     { background-position: 6px  -645px  ;}
#social .livejournal a  { background-position: 6px  -695px  ;}
#social .picasa a       { background-position: 6px  -745px  ;}
#social .posterous a    { background-position: 10px -793px  ;}
#social .reddit a       { background-position: 7px  -842px  ;}
#social .rss a          { background-position: 7px  -893px  ;}
#social .soundcloud a   { background-position: 4px  -940px  ;}
#social .tumblr a       { background-position: 9px  -995px  ;}
#social .twitter a      { background-position: 6px  -1043px ;}
#social .typepad a      { background-position: 5px  -1090px ;}
#social .vimeo a        { background-position: 5px  -1142px ;}
#social .virb a         { background-position: 8px  -1190px ;}
#social .wordpress a    { background-position: 7px  -1244px ;}

/**
 * SHARE LINKS ===============================================================
 */

#share {
    margin: 10px auto;
    width: 740px;
    text-align: center;
}

#share li {
    background: none;
    display: inline-block;
}

#share li.facebook {
    width: 50px;
    overflow: hidden;
}

/**
 * CLIP INFO =================================================================
 */

.info:hover {
    color: #aaa;
}

.video_title {
    color: #aaa;
    font-family: "Oswald", helvetica, sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: -1px;
}

.info:hover .video_title {
    color: #666;
}

.info time {
    display: block;
    margin: 20px 0;
    font-size: 11px;
    line-height: 1.4;
}

.info:hover time {
    color: #ccc;
}

.comments_facebook {
    margin-top: 30px;
    padding: 15px 15px 0px 15px;
    text-align: center;
}

/**
 * THUMBNAILS ================================================================
 */

.navigation {
    position: relative;
    overflow: hidden;
}

.thumbnails_wrapper {
    overflow: hidden;
}

.thumbnails {
    overflow: hidden;
}

.thumbnails li {
    margin-right: 5px;
    width: 104px;
    height: 123px;
    float: left;
}

.thumbnails li a {
    display: block;
}

.thumbnails .image {
    background: #000;
    width: 100px;
    height: 75px;
    position: relative;
    overflow: hidden;
}

.thumbnails img,
.thumbnails span {
    display: block;
}

.thumbnails .title {
    margin-top: 5px;
    font-size: 11px;
    line-height: 13px;
    text-align: center;
    height: 40px;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
       -moz-box-orient: vertical;

    -webkit-transition: color 0.25s;
    -moz-transition:    color 0.25s;
    transition:         color 0.25s;
}

.thumbnails li.selected a .title,
.thumbnails a:hover .title {
    color: #666;
}
.inline_thumbs .thumbnails_wrapper {
    position: relative;
    z-index: 2;
}

.inline_thumbs .thumbnails {
    position: relative;
    top: 0;
    left: 0;
}

.no_titles .thumbnails li {
    height: auto;
}

.inline_thumbs .thumbnails li {
    display: table-cell;
    vertical-align: top;
    float: none;
    margin-right: 0;
    padding-right: 12px;
}

.thumbnails a img {
    filter:             alpha(opacity=50) !important; /* IE7 */
    -ms-filter:         "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)" !important; /* IE8 */
    -moz-opacity:       0.5;
    -webkit-opacity:    0.5;
    opacity:            0.5;

    -webkit-transition: all 0.25s;
    -moz-transition:    all 0.25s;
    transition:         all 0.25s;
}

.thumbnails li.selected a img,
.thumbnails a:hover img {
    filter:             alpha(opacity=100) !important; /* IE7 */
    -ms-filter:         "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)" !important; /* IE8 */
    -moz-opacity:       1;
    -webkit-opacity:    1;
    opacity:            1;
}

/**
 * PAGINATION ================================================================
 */

#pagination {
    position: absolute;
    top: 27px;
    left: 50%;
    width: 750px;
    margin-left: -375px;
    z-index: 2;
}

#pages {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

#pages li {
    float: left;
    margin-right: 4px;
}

#pages li a {
    display: block;
    min-width: 13px;
    background: #ccc;
    padding: 4px;
    color: #666;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}

#pages li a:hover,
#pages li.active a {
    background: #999;
    color: #fff;
}

#pagination .pager {
    border: 7px solid #fff;
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    right: -6px;
    text-indent: -9999px;
}

#pagination .pager.disabled {
    visibility: hidden;
}

#pagination .prev_btn {
    border-right-color: #ccc;
    right: 14px;

    -webkit-transition: border-right-color 0.25s;
    -moz-transition:    border-right-color 0.25s;
    transition:         border-right-color 0.25s;
}

#pagination .next_btn {
    border-left-color: #ccc;
}

/**
 * PLAYER ====================================================================
 */

.player {
    width: 740px;
    background: #fff;
    margin: 0 auto;
    padding: 19px;
    border: 1px solid #ddd;
    -moz-box-shadow:    0px 0px 20px #ddd;
    -webkit-box-shadow: 0px 0px 20px #ddd;
    box-shadow:         0px 0px 20px #ddd;
}

.player:hover {
    border: 1px solid #ccc;
    -moz-box-shadow:    0px 0px 20px #bbb;
    -webkit-box-shadow: 0px 0px 20px #bbb;
    box-shadow:         0px 0px 20px #bbb;
}

.player iframe {
    display: block;
}

/**
 * CONTACT FORM ==============================================================
 */

#contact_form {
    background: #fff;
    display: none;
    position: fixed;
    top: 80px;
    left: 50%;
    margin-left: -315px;
    border: 3px solid #e7e7de;
    padding: 20px;
    width: 590px;
    z-index: 9001;

    -moz-border-radius:     15px;
    -webkit-border-radius:  15px;
    border-radius:          15px;

    -moz-box-shadow:    0px 0px 5px #333;
    -webkit-box-shadow: 0px 0px 5px #333;
    box-shadow:         0px 0px 5px #333;

}

#contact_form.active {
    display: block;
}

#underlay {
    overflow: hidden;
    position: fixed;
    width: 0;
    height: 0;
    left: 0;
    top: 0;
    opacity: 0;
    background: #000000;
    z-index: 9000;
    -webkit-transition:     opacity 0.25s;
    -moz-transition:        opacity 0.25s;
    transition:             opacity 0.25s;
}

#underlay.active {
    width: 100%;
    height: 100%;
    opacity: 0.8;
}

#close_contact {
    position: absolute;
    top: 10px;
    right: 10px;
    display: block;
    width: 20px;
    height: 20px;
    color: #f75342;
    font-size: 24px;
    text-align: center;
    text-decoration: none;
}

#contact_form h2 {
    margin-bottom: 20px;
}

#contact_form div {
    margin-bottom: 20px;
    overflow: hidden;
}

#contact_form label,
#contact_form input,
#contact_form textarea {
    display: block;
    float: left;
}

#contact_form label {
    width: 100px;
    margin-right: 20px;
}

#contact_form input,
#contact_form textarea {
    border: 1px solid #e7e7de;
    padding: 5px;
    width: 450px;
    font-family: sans-serif; /* Helvetica for Macs, Arial for PCs */
    font-size: 14px;
}

#contact_form input.error,
#contact_form textarea.error {
    border-color: #f75342;
}

#contact_form textarea {
    min-height: 140px;
    height: 140px;
    max-height: 300px;
    resize: vertical;
    line-height: 1.4;
}

#contact_form .buttons,
#contact_form .errors {
    margin-left: 120px;
}

#contact_form .submit_btn {
    width: 100px;
    font-weight: bold;
}

#contact_form .errors {
    margin-bottom: 15px;
    padding-left: 10px;
}

#contact_form .errors li {
    margin-bottom: 5px;
    color: #f75342;
    font-size: 12px;
    list-style-type: disc;
}

/**
 * MINIMALIST ================================================================
 */

#minimalist .navigation {
    margin: 0 auto 15px auto;
}

#minimalist .info {
    width: 740px;
    text-align: center;
    margin: 20px auto;
}

#minimalist .info time {
    margin-bottom: 0;
}

#minimalist .info .video_description {
    margin-top: 15px;
}

.video_description p + p {
    margin: 10px 0 0 0;
}

#minimalist .thumbnails_wrapper {
    margin: 0 auto;
    width: 690px;
}

#minimalist.inline_thumbs .thumbnails_wrapper {
    padding-right: 0; /* fuck you ie */
    margin-right: 100px; /* fuck you ie */
}

#minimalist .hide_pagination .thumbnails_wrapper {
    margin-right: 150px !important;
}

#minimalist #pages {
    display: none;
}

#minimalist #pagination .pager {
    border-width: 10px;
    right: 0;
}

#minimalist #pagination .prev_btn {
    right: auto;
    left: 0;
}